{% extends "default.jinja" %}

{% block title %}
  {{site_name}}
{% endblock %}

{% block body %}
  {% for group in docs|groupby('category') %}
    <h3>{{group.grouper}}</h3>
    <ul>
    {% for doc in group.list %}
      <li><a href="{{doc.slug}}">{{doc.title}}</a> ({{doc.last_modified}})</li>
    {% endfor %}
    </ul>
  {% endfor %}
{% endblock %}
