* {
    /* margin: 0; */
    padding: 0;
    border: 0;
    outline: 0;
    font-size:100%;
    vertical-align: baseline;
    background: transparent;
}

body {
	margin: 0 auto;
	width: 800px;
	font-family: 'Merriweather', serif;
	font-weight: 300;

}

h1, h2, h3, h4, h5, p {
	padding: 8px 0px;
	margin: 0px;
}

h1 { font-size: 20pt; }
h2 { font-size: 18pt; }
h3 { font-size: 16pt; }
h4 { font-size: 14pt; }
h5 { font-size: 12pt; }

p {
	font-size: 13pt;
	line-height: 180%;
    padding: 16px 0px;
/*	margin-bottom: 8px; */
}

blockquote {
	background-color: #f0f0f0;
	padding: 12px;
	border-color: black;
	border-style: solid;
	border-width: 1px;
}

blockquote p {
    padding: 8px;
}

img {
	margin: 1em;
	display: block;	
	margin-left: auto;
    margin-right: auto;
}

ol, ul {
	width: 100%;
	padding:  0px 32px;
}

li {
    font-size: 13pt;
	padding: 0.5em 0em;
	width: 90%;
}

table {

    margin: 0px auto;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    padding: 8px;
}

th {
    padding: 4px 16px;
}

td {
    padding: 4px 16px;
}

hr {
    border-width: 0;
    width: 80%;
    margin: 48px auto;
    height: 1px;
    background: #000000;

}

#home {
    width: 80%;
    float: left;
}

#about {
    width: 20%;
    float: right;
    text-align: right;
}

.summary {
	color: #808080;
    font-size: 12pt;
}

.image-caption {
	text-align: center;
	margin-bottom: 1.5em;
}

header {
	font-size: 14pt;
	border-color: black;
	border-style: solid;
	border-width: 0px;
	border-bottom-width: 1px;
	padding: 12px 0px;
	color: #a0a0a0;
    margin-bottom: 32px;
}

header a {
    text-decoration: none;
    color: #000000;
}

footer {
	border-color: black;
	border-style: solid;
	border-width: 0px;
	border-top-width: 1px;
	padding: 12px 0px;
	color: #a0a0a0;
    margin-top: 32px;
}

.footnote p {
    font-size: 10pt;
    padding: 0px;
}

.codehilite {
    margin: 32px 8px;
}
